// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Header
.main-header {
    background-color: #F8F9FA;
    position: sticky;
    top: 0;
    min-height: 15vh;
    z-index: 999;
}
.brand-img{
    max-height:100%;
    width:auto;
}

.nav-link {
    position: relative;
    height: 100%;
    font-size: 1rem;
    align-content: center;
}

.nav-link.active,
.nav-link:hover {
    color: #4994F9 !important;
    transition: color 0.5s ease;
}

//Main-Wrapper
.main-wrapper {
    min-height: 70vh;
}

//Hero
.hero {
    img {
        display: block;
        width: 100%;
        max-height: 40vh;
        object-fit: cover;
        object-position: 100% 0;
    }
}

//Series
.series {
    width: 100%;
    background-color: #1C1C1C;
}

.series>.container {
    position: relative;
}

.series>.container::before {
    content: "Current Series";
    position: absolute;
    background-color: #0282F9;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    color: white;
    top: 0;
    left: 0;
    translate: 0 -100%;
}

.series-button {
    background-color: #0282F9;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    display: block;
    margin: 1rem auto;
    transition: color 0.5s ease;
}

.series-button:hover {
    color: black;
}

//Comics
.comic-thumb {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 0;
}

.comic-card {
    transition: all 0.5s ease;
}

.comic-card:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

//Extras
.extras-wrapper {
    padding: 2rem 0;
    width: 100%;
    background-color: #0282F9;
}

.extras-link {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;

}

.extras-link:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.extras-img {
    height: 40px;
    padding: 0 10px;
}

//Footer
.footer-wrapper {
    width: 100%;
    max-height: 40vh;
}

.footer-links-section {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
}

.footer-link-list {
    flex-grow: 1;
}

.footer-links-text {
    text-decoration: none;
    list-style: none;
    color: grey;
    transition: color 0.5s ease;
}

.footer-links-text:hover {
    color: white;
    cursor: pointer;
}

.footer-links-section>.container {
    position: relative;
}


.media-links-section {
    display:flex;
    align-items:center;
    width: 100%;
    min-height: 15vh;
    z-index: 999;
    position: relative;
    background-color: #303030;
}

.button-sign-up {
    display: block;
    padding: 1rem 0.5rem;
    color: white;
    outline: none;
    background-color: transparent;
    border: 2px solid #0282F9;
    transition: all 0.5s ease;
}

.button-sign-up:hover {
    background-color: #0282F9;
    color: black;
}

.follow-title {
    color: #0282F9;
    display: block;
}

.media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.media-link{
    border:2px solid #303030;
    transition: border 0.5s ease;
    border-radius: 50%;
}
.media-link:hover{
    border-color:white;
    cursor:pointer;
}

//Filler
.filler{
    background-color:#1C1C1C;
    width:100%;
    flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

//Media Queries

@media screen and (min-width:992px) {
    .main-header {
        height: 15vh;
    }

    .nav-link::after {
        content: "";
        width: 75%;
        height: 0.5rem;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 100%;
        transition: background-color 0.5s ease;
    }

    .nav-link:hover::after {
        background-color: #4994F9;
    }

    .nav-link.active::after {
        background-color: #4994F9;
    }

    .footer-links-section>.container::after {
        content: "";
        background-image: url("../img/dc-logo-bg.png");
        z-index: 2;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 50%;
    }

    .footer-link-list {
        flex-grow: 0;
    }

    .media-wrapper {
        flex-direction: row;

    }
}